In [ ]:
#!pip install pyspark
!pip install pandas

In [ ]:
import pyspark
import pandas as pd

In [ ]:
pd.read_csv('test.csv')

In [ ]:
from pyspark.sql import SparkSession
import numpy as np

In [ ]:
spark=SparkSession.builder.appName('practice').getOrCreate()
# /usr/lib/jvm/java-11-openjdk-amd64/bin/java
# Install java on Ubuntu: https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/How-do-I-install-Java-on-Ubuntu

In [ ]:
spark

In [87]:
df=spark.read.csv('test.csv')

In [88]:
df.show()

+---------------+-----------+-----------+-----------+
|            _c0|        _c1|        _c2|        _c3|
+---------------+-----------+-----------+-----------+
|          title|  Precision|     Recall|   F1_Score|
|          covid|0.508196721|      0.775|0.613861386|
|       economic|0.755494505|0.712435233|0.733333333|
|      education|0.765957447|0.885245902|0.821292776|
|  environmental|0.818897638| 0.79389313| 0.80620155|
| foreign policy|0.470588235|        0.8|0.592592593|
|     governance|        0.5|0.753926702| 0.60125261|
|         health|0.896774194| 0.64953271|0.753387534|
|    immigration|0.903614458|0.833333333|0.867052023|
|       military| 0.58490566|       0.62|0.601941748|
|         safety|       0.75|       0.75|       0.75|
|social cultural|0.725099602|0.719367589|0.722222222|
|social programs| 0.62704918|0.845303867|       0.72|
+---------------+-----------+-----------+-----------+

In [89]:
df = spark.read.option('header','true').csv('test.csv')

In [91]:
df.show()

+---------------+-----------+-----------+-----------+
|          title|  Precision|     Recall|   F1_Score|
+---------------+-----------+-----------+-----------+
|          covid|0.508196721|      0.775|0.613861386|
|       economic|0.755494505|0.712435233|0.733333333|
|      education|0.765957447|0.885245902|0.821292776|
|  environmental|0.818897638| 0.79389313| 0.80620155|
| foreign policy|0.470588235|        0.8|0.592592593|
|     governance|        0.5|0.753926702| 0.60125261|
|         health|0.896774194| 0.64953271|0.753387534|
|    immigration|0.903614458|0.833333333|0.867052023|
|       military| 0.58490566|       0.62|0.601941748|
|         safety|       0.75|       0.75|       0.75|
|social cultural|0.725099602|0.719367589|0.722222222|
|social programs| 0.62704918|0.845303867|       0.72|
+---------------+-----------+-----------+-----------+

In [90]:
df.printSchema()

root
 |-- title: string (nullable = true)
 |-- Precision: string (nullable = true)
 |-- Recall: string (nullable = true)
 |-- F1_Score: string (nullable = true)

In [ ]:
spark2=SparkSession.builder.appName('practice2').getOrCreate()
df= spark2.sparkContext.parallelize([(1,2,3,'abc'),(4,5,6,'def'),
(7,8,9,'ghi')]).toDF(['col1','col2','col3','col4'])

In [ ]:
type(df)
df.show()

In [ ]:
myData=spark.sparkContext.parallelize([(1,2),(3,4),(5,6),(7,8),(9,10)])
myData.collect()

In [ ]:
employee=spark.createDataFrame([('1', 'Joe', '70000', '1'),
('2', 'Henry', '80000', '2'),
('3', 'Sam', '60000', '2'),
('4', 'Max', '90000', '1')],
['Id', 'Name', 'Sallary','DepartmentId']
)

In [ ]:
# read from database ***
## user infomation
user = 'user_name'
pw = 'password'
## database infomation 
table_name='table_name'
url='jdbc:postgresql://##.###.###.##:5432/dataset?user='+user+'&password='+pw
properties = {'driver': 'org.postgresql.Driver', 'password': pw,'user': user}
df=spark.read.jdbc(url=url, table=table_name,properties=properties)
df.show(5)
df.printSchema()

In [ ]:
## read from database ** connect to redshift
from pyspark.sql import SQLContext

sc = # existing SparkContext
sql_context = SQLContext(sc)

# Read data from a table
df = sql_context.read \
    .format("io.github.spark_redshift_community.spark.redshift") \
    .option("url", "jdbc:redshift://redshifthost:5439/database?user=username&password=pass") \
    .option("dbtable", "my_table") \
    .option("tempdir", "s3n://path/for/temp/data") \
    .load()

# Read data from a query
df = sql_context.read \
    .format("io.github.spark_redshift_community.spark.redshift") \
    .option("url", "jdbc:redshift://redshifthost:5439/database?user=username&password=pass") \
    .option("query", "select x, count(*) my_table group by x") \
    .option("tempdir", "s3n://path/for/temp/data") \
    .load()

# Write back to a table
df.write \
  .format("io.github.spark_redshift_community.spark.redshift") \
  .option("url", "jdbc:redshift://redshifthost:5439/database?user=username&password=pass") \
  .option("dbtable", "my_table_copy") \
  .option("tempdir", "s3n://path/for/temp/data") \
  .mode("error") \
  .save()

# Using IAM Role based authentication
df.write \
  .format("io.github.spark_redshift_community.spark.redshift") \
  .option("url", "jdbc:redshift://redshifthost:5439/database?user=username&password=pass") \
  .option("dbtable", "my_table_copy") \
  .option("tempdir", "s3n://path/for/temp/data") \
  .option("aws_iam_role", "arn:aws:iam::123456789000:role/redshift_iam_role") \
  .mode("error") \
  .save()

In [ ]:
#SQL
#Reading data using SQL:
## operate it on Dbeaver? 
CREATE TABLE my_table
USING io.github.spark_redshift_community.spark.redshift
OPTIONS (
  dbtable 'my_table',
  tempdir 's3n://path/for/temp/data',
  url 'jdbc:redshift://redshifthost:5439/database?user=username&password=pass'
);

In [ ]:
## create from list

my_list = [['a', 1, 2], ['b', 2, 3],['c', 3, 4]]
col_name = ['A', 'B', 'C']
spark.createDataFrame(my_list,col_name).show()

In [ ]:
# from dictonary 
d = {'A': [0, 1, 0],
'B': [1, 0, 1],
'C': [1, 0, 0]}

spark.createDataFrame(np.array(list(d.values())).T.tolist(),list(d.keys())).show()
print(np.array(list(d.values())).T.tolist())

In [65]:
my_list = [['male', 1, None], ['female', 2, 3],['male', 3, 4]]
ds=spark.createDataFrame(my_list,['A','B','C'])
ds.show()
ds.fillna(-99).show()
ds.na.replace(['male','female'],['1','0']).show()

+------+---+----+
|     A|  B|   C|
+------+---+----+
|  male|  1|null|
|female|  2|   3|
|  male|  3|   4|
+------+---+----+

+------+---+---+
|     A|  B|  C|
+------+---+---+
|  male|  1|-99|
|female|  2|  3|
|  male|  3|  4|
+------+---+---+

+---+---+----+
|  A|  B|   C|
+---+---+----+
|  1|  1|null|
|  0|  2|   3|
|  1|  3|   4|
+---+---+----+

In [54]:
url='http://api.luftdaten.info/static/v1/data.json'
from pyspark import SparkFiles
spark.sparkContext.addFile(url)
ds_1=spark.read.json("file://"+SparkFiles.get('data.json'))
ds_1.show(4)

23/01/29 15:35:28 WARN SparkContext: The path http://api.luftdaten.info/static/v1/data.json has been added already. Overwriting of added paths is not supported in the current version.

+-----------+--------------------+-------------+--------------------+--------------------+-------------------+
|         id|            location|sampling_rate|              sensor|    sensordatavalues|          timestamp|
+-----------+--------------------+-------------+--------------------+--------------------+-------------------+
|13956925375|{437.0, CH, 0, 65...|         null|{76838, 7, {9, va...|[{31265599129, -1...|2023-01-29 20:22:02|
|13956925374|{17.0, NL, 1, 506...|         null|{64373, 1, {14, N...|[{31265599127, 56...|2023-01-29 20:22:02|
|13956925373|{53.7, DE, 1, 196...|         null|{33301, 1, {14, N...|[{31265599122, 33...|2023-01-29 20:22:02|
|13956925372|{7.7, NL, 1, 3827...|         null|{52337, 7, {9, va...|[{31265599118, 4....|2023-01-29 20:22:02|
+-----------+--------------------+-------------+--------------------+--------------------+-------------------+
only showing top 4 rows

In [61]:
#ds_1.fillna({'sampling_rate':'unknown'}).show(10) # failed to fill with string
#ds_1.na.fill({'sampling_rate':'unknown'}).show(10)
ds_1.printSchema() # check data type, cannot fill string to sampling_rate because it is

root
 |-- id: long (nullable = true)
 |-- location: struct (nullable = true)
 |    |-- altitude: string (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- exact_location: long (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- indoor: long (nullable = true)
 |    |-- latitude: string (nullable = true)
 |    |-- longitude: string (nullable = true)
 |-- sampling_rate: long (nullable = true)
 |-- sensor: struct (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- pin: string (nullable = true)
 |    |-- sensor_type: struct (nullable = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- manufacturer: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- sensordatavalues: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- value: string (nullable = true)
 |    |    |-- value_type: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [76]:
# rename columns 
## rename all columns
#ds.toDF('a','b','c').show()
## rename part of the columns
mapping = {'A':'Newspaper','B':'Sales'}
# print(mapping.get('A','A'))
new_names=[mapping.get(col,col) for col in ds.columns]
ds.toDF(*new_names).show(4)

+---------+-----+----+
|Newspaper|Sales|   C|
+---------+-----+----+
|     male|    1|null|
|   female|    2|   3|
|     male|    3|   4|
+---------+-----+----+

In [78]:
# drop columns
drop_col=['A','B']
ds.drop(*drop_col).show(4)

+----+
|   C|
+----+
|null|
|   3|
|   4|
+----+

In [97]:
# filter & and | or != not equale to  == equale to
#ds[(ds.colum_name conditon1) & (ds.column_name condition2)] # ds[ds.Newspaper<20].show(4)
#ds[(ds.colum_name conditon1) | (ds.column_name condition2)] # or

# user filter function
# df.filter("age > 3").collect()
# output: [Row(age=5, name='Bob')]
# df.where("age = 2").collect()
# output: [Row(age=2, name='Alice')]
# filteer is in list values
# df.filter(df.column_name.isin(list_name)).show()
# example:
#li=["OH","CA","DE"]
#df.filter(df.state.isin(li)).show()

In [102]:
from pyspark.sql import functions as F

In [103]:
# group by function and result
ls=ds.groupBy().agg(F.sum('TV')).collect()
print(ls)
print(ls[0])
print(ls[0][0])
# [Row(sum(TV)=884.3000000000001)]
# Row(sum(TV)=884.3000000000001)
# 884.3000000000001

[Row(sum(TV)=884.3000000000001)]
Row(sum(TV)=884.3000000000001)
884.3000000000001

In [105]:
# with new column. use groupby and aggregate create new column
# with column DataFrame.withColumn(colName, col) colName is str and col is column expression
# ds.withColumn('column_name',column expression).collect()
# DataFrame.collect() returns as a list of row 
# df.collect() # output: [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
ds=spark.read.option("header","true").csv('advertising.csv',)
# or 
# ds=spark.read.csv('filename.csv',header=True,sep=',',
# encoding='UTF-8',
# comment=None,
# inferSchema=True)
# group by  
# gds=ds.groupby(ds.name)  group by name
# sorted(gds.agg{'*':'count'}.collect()) sort by number of records 
# sorted(gdf.agg(F.min(df.age)).collect()) sort by age
ds.withColumn('tv_norm', ds.TV/ds.groupBy().agg(F.sum("TV")).collect()[0][0]).show(4)

# create new column depending on other columns
ds.withColumn('cond',F.when((ds.TV>100)&(ds.Radio<40),1).when(ds.sales>10,2).otherwise(3)).show(4)

ds.withColumn('log_tv',F.log(ds.TV)).show(4)

+-----+-----+---------+-----+--------------------+
|   TV|Radio|Newspaper|sales|             tv_norm|
+-----+-----+---------+-----+--------------------+
|230.1| 37.8|     11.5|   12|  0.2602058125070677|
| 44.5| 39.3|      1.0|   14| 0.05032228881601266|
| 17.2| 45.9|      3.0|  4.8|0.019450412755852083|
|151.5| 41.3|      4.5| 17.4| 0.17132194956462737|
+-----+-----+---------+-----+--------------------+
only showing top 4 rows

+-----+-----+---------+-----+----+
|   TV|Radio|Newspaper|sales|cond|
+-----+-----+---------+-----+----+
|230.1| 37.8|     11.5|   12|   1|
| 44.5| 39.3|      1.0|   14|   2|
| 17.2| 45.9|      3.0|  4.8|   3|
|151.5| 41.3|      4.5| 17.4|   2|
+-----+-----+---------+-----+----+
only showing top 4 rows

+-----+-----+---------+-----+------------------+
|   TV|Radio|Newspaper|sales|            log_tv|
+-----+-----+---------+-----+------------------+
|230.1| 37.8|     11.5|   12|  5.43851399704132|
| 44.5| 39.3|      1.0|   14|3.7954891891721947|
| 17.2| 45.9|      3.0|  4.8|2.8449093838194073|
|151.5| 41.3|      4.5| 17.4| 5.020585624949424|
+-----+-----+---------+-----+------------------+
only showing top 4 rows

In [106]:
ds.withColumn('tv+10',ds.TV+10).show(4)

+-----+-----+---------+-----+-----+
|   TV|Radio|Newspaper|sales|tv+10|
+-----+-----+---------+-----+-----+
|230.1| 37.8|     11.5|   12|240.1|
| 44.5| 39.3|      1.0|   14| 54.5|
| 17.2| 45.9|      3.0|  4.8| 27.2|
|151.5| 41.3|      4.5| 17.4|161.5|
+-----+-----+---------+-----+-----+
only showing top 4 rows

### Basic table operation

In [107]:
leftp = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']},
index=[0, 1, 2, 3])
rightp = pd.DataFrame({'A': ['A0', 'A1', 'A6', 'A7'],
'F': ['B4', 'B5', 'B6', 'B7'],
'G': ['C4', 'C5', 'C6', 'C7'],
'H': ['D4', 'D5', 'D6', 'D7']},
index=[4, 5, 6, 7])

lefts=spark.createDataFrame(leftp)
rights=spark.createDataFrame(rightp)

# another way to create

/home/lbc/.local/lib/python3.8/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/lbc/.local/lib/python3.8/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [112]:
# left join
# in pandas leftp.merge(rightp,on='A',how='left')
lefts.join(rights,on='A',how='left').orderBy('A',ascending=True).show()

#right join
# in pandas leftp.merge(rightp,on='A',how='right')
lefts.join(rights,on='A',how='right').orderBy('A',ascending=True).show()

+---+---+---+---+----+----+----+
|  A|  B|  C|  D|   F|   G|   H|
+---+---+---+---+----+----+----+
| A0| B0| C0| D0|  B4|  C4|  D4|
| A1| B1| C1| D1|  B5|  C5|  D5|
| A2| B2| C2| D2|null|null|null|
| A3| B3| C3| D3|null|null|null|
+---+---+---+---+----+----+----+

+---+----+----+----+---+---+---+
|  A|   B|   C|   D|  F|  G|  H|
+---+----+----+----+---+---+---+
| A0|  B0|  C0|  D0| B4| C4| D4|
| A1|  B1|  C1|  D1| B5| C5| D5|
| A6|null|null|null| B6| C6| D6|
| A7|null|null|null| B7| C7| D7|
+---+----+----+----+---+---+---+

In [113]:
#inner join
lefts.join(rights,on='A',how='inner').orderBy('A',ascending=True).show()

#outer/full join
lefts.join(rights,on='A',how='full').orderBy('A',ascending=True).show()

+---+---+---+---+---+---+---+
|  A|  B|  C|  D|  F|  G|  H|
+---+---+---+---+---+---+---+
| A0| B0| C0| D0| B4| C4| D4|
| A1| B1| C1| D1| B5| C5| D5|
+---+---+---+---+---+---+---+

+---+----+----+----+----+----+----+
|  A|   B|   C|   D|   F|   G|   H|
+---+----+----+----+----+----+----+
| A0|  B0|  C0|  D0|  B4|  C4|  D4|
| A1|  B1|  C1|  D1|  B5|  C5|  D5|
| A2|  B2|  C2|  D2|null|null|null|
| A3|  B3|  C3|  D3|null|null|null|
| A6|null|null|null|  B6|  C6|  D6|
| A7|null|null|null|  B7|  C7|  D7|
+---+----+----+----+----+----+----+

In [115]:
# concat tables 
my_list = [('a', 2, 3),
('b', 5, 6),
('c', 8, 9),
('a', 2, 3),
('b', 5, 6),
('c', 8, 9)]
col_name = ['col1', 'col2', 'col3']

ds=spark.createDataFrame(my_list,schema=col_name)

In [117]:
ds.withColumn('concat',F.concat('col1','col2')).show()

+----+----+----+------+
|col1|col2|col3|concat|
+----+----+----+------+
|   a|   2|   3|    a2|
|   b|   5|   6|    b5|
|   c|   8|   9|    c8|
|   a|   2|   3|    a2|
|   b|   5|   6|    b5|
|   c|   8|   9|    c8|
+----+----+----+------+

In [119]:
ds.groupBy(['col1']).agg({'col2':'min','col3':'avg'}).show()
ds.groupBy(['col1']).pivot('col2').sum('col3').show()

+----+---------+---------+
|col1|min(col2)|avg(col3)|
+----+---------+---------+
|   a|        2|      3.0|
|   c|        8|      9.0|
|   b|        5|      6.0|
+----+---------+---------+

+----+----+----+----+
|col1|   2|   5|   8|
+----+----+----+----+
|   c|null|null|  18|
|   b|null|  12|null|
|   a|   6|null|null|
+----+----+----+----+

In [124]:
# another way to create schema
d = {'A':['a','b','c','d'],'B':['m','m','n','n'],'C':[1,2,3,6]}
dp = pd.DataFrame(d)
ds = spark.createDataFrame(dp)
ds.show()

/home/lbc/.local/lib/python3.8/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/lbc/.local/lib/python3.8/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  m|  1|
|  b|  m|  2|
|  c|  n|  3|
|  d|  n|  6|
+---+---+---+

### window

In [127]:
from pyspark.sql.window import Window
dp['rank'] = dp.groupby('B')['C'].rank('dense',ascending=False)
w = Window.partitionBy('B').orderBy(ds.C.desc())
ds = ds.withColumn('rank',F.rank().over(w))

In [130]:
#dp.head()
ds.show()

   A  B  C  rank
0  a  m  1   2.0
1  b  m  2   1.0
2  c  n  3   2.0
3  d  n  6   1.0